<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">¡Bienvenido a la Búsqueda de Países!</h1>
      <p class="lead">Mi aplicación te permite explorar y obtener <span class="destacado">información detallada de países de todo el mundo</span> de una manera fácil y rápida. Con esta herramienta, podrás:</p>
      <ul>
        <li>Buscar países por su <a class="destacado" routerLink="/countries/by-country">nombre</a>, <a class="destacado" routerLink="/countries/by-capital">capital</a> o <a class="destacado" routerLink="/countries/by-region">continente.</a></li>
        <li>Acceder a información detallada de cada país, incluyendo su capital, población, área, idiomas oficiales y más.</li>
        <li>Explorar países de diferentes regiones y continentes para ampliar tu conocimiento geográfico y cultural.</li>
        <li>Acceder a enlaces adicionales para obtener más información sobre un país específico.</li>
      </ul>
      <p class="lead">Mi aplicación está diseñada para ser intuitiva y fácil de usar, proporcionando una experiencia fluida y agradable para todos los usuarios, desde aquellos que buscan información específica sobre un país hasta aquellos que simplemente desean explorar el mundo desde la comodidad de su dispositivo.</p>
      <p class="lead">¡Espero que disfrutes utilizando mi aplicación y que te ayude a satisfacer tu curiosidad sobre los países de nuestro fascinante planeta!</p>
      <img src="../../../../assets/world.svg" alt="map-world">
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Sobre este Proyecto</h2>
        <p class="lead">Esta aplicación de búsqueda de países ha sido desarrollada como parte de un proyecto personal con el <span class="destacado">objetivo principal de aprender y practicar habilidades relacionadas con el desarrollo web</span>. Desde su concepción, ha sido una oportunidad valiosa para adquirir experiencia en diversas tecnologías y conceptos fundamentales.</p>
        <p class="lead">Además de proporcionar una herramienta útil para explorar información geográfica y cultural de países de todo el mundo, este proyecto también sirve como un testimonio de mi viaje de aprendizaje en el campo del desarrollo de aplicaciones web.</p>
        <p class="lead">En la sección de "<a class="destacado" routerLink="/about" routerLinkActive="active">Acerca de</a>", compartiré más detalles sobre cómo se ha construido esta aplicación, las tecnologías utilizadas, los desafíos enfrentados y las lecciones aprendidas durante el proceso de desarrollo. Espero que esta información pueda ser útil y motivadora para otros aspirantes a desarrolladores web.</p>
      </div>
    </div>
  </div>
</div>


