<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">Sobre el proyecto</h1>
      <p class="lead">Explora los detalles detrás de nuestra aplicación de búsqueda de países en la sección "Acerca de".
        Descubre las tecnologías utilizadas, los desafíos superados y las lecciones aprendidas durante el proceso de
        desarrollo. ¡Esperamos que esta información sea útil e inspiradora para tu propio viaje en el desarrollo web!
      </p>
      <article>
        <h2 class="text-center mb-4">Tecnologías</h2>
        <img class="rounded-circle mr-2 angular" src="../../../../assets/Angular_full_color_logo.svg.png" alt="">
        <p><span class="destacado title">Angular 17</span> ha sido el principal framework utilizado en el desarrollo de
          la
          parte front de mi aplicación. Este potente framework de desarrollo frontend ha proporcionado una estructura
          sólida y modular para la construcción de una experiencia de usuario dinámica y receptiva.</p>
        <p>Uno de los aspectos más destacados del uso de Angular ha sido su capacidad para gestionar las <span
            class="destacado">solicitudes y respuestas de la API de manera eficiente</span>. Los servicios de Angular
          han sido fundamentales para establecer la comunicación con la API REST Countries, permitiendo que mi
          aplicación obtenga y muestre información detallada de países de todo el mundo en tiempo real.</p>
        <p>Además, <span class="destacado">Angular's Router Module ha sido esencial para la gestión de las rutas de mi
            aplicación</span>. Con él, he podido definir y organizar las diferentes vistas y componentes de mi
          aplicación, facilitando la navegación del usuario a través de las diversas secciones y funcionalidades.</p>
        <p>En resumen, Angular ha sido una pieza fundamental en el desarrollo de mi aplicación, proporcionando las
          herramientas necesarias para crear una experiencia de usuario fluida y atractiva, así como para establecer una
          sólida conexión con la API que impulsa mi aplicación de búsqueda de países.</p>
      </article>
      <br>
      <br>
      <article>
        <img class="rounded-circle mr-2 bootstrap" src="../../../../assets/bootstrap-5-1.svg" alt="">
        <p><span class="destacado title">Bootstrap 5</span> ha sido una herramienta indispensable en el desarrollo de mi
          aplicación. La versatilidad de sus componentes y la conveniencia de sus clases predefinidas han <span
            class="destacado">simplificado enormemente el proceso de diseño</span> y desarrollo de la interfaz de
          usuario. Desde la creación de diseños receptivos hasta la estilización de elementos de navegación y
          formularios, Bootstrap ha proporcionado una base sólida sobre la cual construir mi aplicación de búsqueda de
          países.</p>
        <p>La utilización de los componentes de Bootstrap, como <span class="destacado">las barras de navegación</span>,
          <span class="destacado">las tarjetas</span> y <span class="destacado">los dropdowns</span>, ha mejorado
          significativamente la experiencia del usuario al proporcionar elementos visuales coherentes y atractivos.
          Además, la integración de las clases de Bootstrap en el diseño y el estilo de los elementos ha agilizado el
          proceso de desarrollo, permitiéndome centrarme en la funcionalidad de la aplicación sin preocuparme por los
          detalles de diseño.</p>
        <p>En resumen, Bootstrap ha sido una herramienta invaluable en mi caja de herramientas de desarrollo web,
          permitiéndome crear una interfaz de usuario pulida y profesional de manera eficiente y efectiva. Su amplia
          gama de componentes y clases ha hecho posible llevar a cabo una variedad de tareas de diseño y estilización
          con facilidad, lo que ha contribuido en gran medida al éxito de mi proyecto de búsqueda de países.</p>
      </article>
    </div>
  </div>
</div>